<nav class="navbar navbar-expand-md bg-success mb-4 navbar-dark">
  <div class="container">

    <a href="#" class="navbar-brand">
      <i class="fa fa-rupee"></i> Split Eazy </a>

    <button class="navbar-toggler" type="button"
           data-toggle="collapse" data-target="#menuSection">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="menuSection">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="/" class="nav-link"> Home </a>
            </li>
          
          </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link"> Login </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link"> Register </a>
        </li>
      </ul>

    </div>
  </div>


</nav>